:root {
	--page-bg-color: #ffffff;
	--bg-color: #f7f8fa;
	--border-color: #dae2ea;

	--text-default-color: #aab0bb;
	--text-highlight-color: #062351;

	--btn-select-color: #ff0033;
	--btn-highlight-color: #501012;
	--btn-temp-color: #3b9e22;
	--btn-new-color: #ff6831;
	--btn-solid-color: #c30e14;
	--btn-selectable-color: #ad0023;
	--btn-light-color: #e5f0fd;
	--alert-color: #ef2121;
	--success-color: #61965a;

	/*  most of these arent used, need to be cleaned  */
	--color-page-bg: #ffffff;
	--color-black: #242424;
	--color-grey: #a8a8a8;
	--color-border: #eeeeee;
	--color-table-border: #e2e2e2;
	--input-bg: #f9f9f9;
	--header-height: 60px;
	--header-bg: var(--color-page-bg);
	--title-height: 90px;
	--filter-width: 300px;
	--table-row-height: 50px;
	/* --color-page-bg: #1c1c1c; */
	/* --color-black: #ffffff; */
	/* --color-grey: #919191; */
	/* --color-border: #303030; */
	/* --color-table-border: #303030; */
	/* --color-border: var(--color-table-border); */
	/* --color-border: transparent; */
}
