.bottle-detail {
    padding: 0 15px;
    margin-top: 25px;
    color: #000;
    min-width: 400px;
}

.bottle-detail h2 {
    font-weight: 700;
    margin-bottom: 15px;
}

.bottle-detail h2.detail-title {
    font-size: 24px;
    margin-bottom: 0;    
}

.detail-list {

}

.detail-list > .detail-section {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-list > .detail-section > .detail-header {
    color: #666;
}

.detail-body {

}