.table-header .logo {
	width: 200px;
}

.table-header .logo h1 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Playfair Display', 'Poppins', sans-serif;
	color: beige;
	line-height: var(--header-height);
}
